In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Final-50-stocks.csv')
df.head()

,DATE,TATASTEEL,WIPRO,TITAN,ULTRACEMO,TECHM,RELIANCE,SHREECEM,SUNPHARMA,TATAMOTORS,...,BPCL,BRITANNIA,ADANIPORTS,BAJAJFINSERV,BAJAJFINANCE,BHARTIARTL,AXISBANK,BAJAJ-AUTO,ASIANPAINT,UPL
0,2010-01-11,591.90,423.70,3792.50,6737.95,735.60,1093.20,2116.10,2190.70,1170.60,...,754.80,413.15,NaN,467.25,798.60,335.30,1513.60,1530.75,2705.05,NaN
1,2010-01-12,613.55,414.70,3781.90,5443.70,671.15,988.80,2094.10,448.65,1286.75,...,697.95,410.30,NaN,481.65,713.30,350.55,1424.45,1571.20,2680.40,NaN
2,2010-02-11,599.05,433.85,3818.70,6735.25,724.55,1074.85,2164.55,2190.45,1154.25,...,772.75,413.60,NaN,472.10,806.40,329.25,1526.60,1548.75,2792.80,NaN
3,2010-02-12,622.75,426.05,3784.20,5368.40,676.35,1011.15,2022.35,452.90,1320.15,...,685.80,412.45,NaN,484.35,741.85,346.10,1455.35,1574.30,2651.85,NaN
4,2010-03-11,609.60,434.70,3833.05,6858.65,732.50,1065.30,2261.40,2249.30,1185.55,...,765.60,415.75,NaN,480.15,799.25,328.40,1536.10,1582.35,2694.90,NaN

In [3]:
dff = df.copy()

In [4]:
for i in range(1,df.shape[0]):
    for j in range(1,df.shape[1]):
        dff.iloc[i,j] = df.iloc[i,j] - df.iloc[i-1,j]

In [5]:
dff.drop(0,axis=0,inplace=True)

In [7]:
stacks = dff.columns.tolist()

In [8]:
new_df = pd.DataFrame()

In [9]:
for col in stacks :
    if col =='DATE':
        continue
    new_df.loc['Daily Average Change',col] = np.abs(dff[col]).sum(axis=0) / dff[col].notna().sum()

In [11]:
new_df = new_df.T

In [12]:
new_df

              Daily Average Change
TATASTEEL                32.585480
WIPRO                    18.626771
TITAN                    75.547841
ULTRACEMO               255.957251
TECHM                    65.026937
RELIANCE                 56.053616
SHREECEM                594.595221
SUNPHARMA                42.446384
TATAMOTORS               29.878118
TCS                      84.375664
SBIN                     72.182085
NESTLEIND               291.744576
NTPC                      5.246937
M&M                      38.793653
MARUTI                  212.970738
ONGC                     17.064317
POWERGRID                 8.241550
JSWSTEEL                 44.392675
KOTAKBANK                48.584262
LT                       74.461310
ICICIBANK                38.529114
INDUSBANK                48.360461
INFY                     94.029635
IOC                      16.364945
ITC                       9.721181
HEROMOTOCO              109.863376
HINDALCO                 11.515923
HINDUNILVR               40.439373
HCLTECH                  44.625185
HDFCBANK                 68.008413
HDFC                     53.596476
DRREDDYS                118.588487
EICHERMOTOR             843.469760
GRASIM                  117.218967
CIPLA                    21.088838
COALINDIA                11.527755
BPCL                     34.255203
BRITANNIA               125.201882
ADANIPORTS               25.594431
BAJAJFINSERV            270.061494
BAJAJFINANCE            255.865535
BHARTIARTL               18.141513
AXISBANK                 54.927509
BAJAJ-AUTO               92.556218
ASIANPAINT              111.979207
UPL                      34.333299

In [14]:
df

,DATE,TATASTEEL,WIPRO,TITAN,ULTRACEMO,TECHM,RELIANCE,SHREECEM,SUNPHARMA,TATAMOTORS,...,BPCL,BRITANNIA,ADANIPORTS,BAJAJFINSERV,BAJAJFINANCE,BHARTIARTL,AXISBANK,BAJAJ-AUTO,ASIANPAINT,UPL
0,2010-01-11,591.90,423.70,3792.50,6737.95,735.60,1093.20,2116.10,2190.70,1170.60,...,754.80,413.15,NaN,467.25,798.60,335.30,1513.60,1530.75,2705.05,NaN
1,2010-01-12,613.55,414.70,3781.90,5443.70,671.15,988.80,2094.10,448.65,1286.75,...,697.95,410.30,NaN,481.65,713.30,350.55,1424.45,1571.20,2680.40,NaN
2,2010-02-11,599.05,433.85,3818.70,6735.25,724.55,1074.85,2164.55,2190.45,1154.25,...,772.75,413.60,NaN,472.10,806.40,329.25,1526.60,1548.75,2792.80,NaN
3,2010-02-12,622.75,426.05,3784.20,5368.40,676.35,1011.15,2022.35,452.90,1320.15,...,685.80,412.45,NaN,484.35,741.85,346.10,1455.35,1574.30,2651.85,NaN
4,2010-03-11,609.60,434.70,3833.05,6858.65,732.50,1065.30,2261.40,2249.30,1185.55,...,765.60,415.75,NaN,480.15,799.25,328.40,1536.10,1582.35,2694.90,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2706,2021-10-05,1216.35,525.95,1455.15,6403.10,990.50,1926.20,27309.95,698.20,314.85,...,453.70,3413.80,765.45,11332.00,5497.50,572.55,715.25,3868.65,2556.95,674.60
2707,2021-10-06,1114.45,554.25,1738.65,6709.65,1064.90,2183.00,28225.80,676.05,344.75,...,483.55,3576.30,846.75,11993.10,6086.40,545.15,744.25,4179.90,2950.60,838.70
2708,2021-10-08,1373.60,603.85,1799.20,7474.15,1323.05,2088.05,27117.65,793.35,294.20,...,444.70,3637.20,693.00,14036.50,6170.10,622.20,761.55,3797.95,2977.15,771.10
2709,2021-10-13,1354.30,672.60,2537.20,7350.40,1402.15,2694.95,27815.70,842.55,506.90,...,458.65,3883.70,759.00,18188.25,7929.30,689.90,794.60,3967.65,3323.50,747.45
2710,2021-10-14,1375.05,708.25,2564.05,7395.50,1430.80,2700.40,27956.45,841.30,497.60,...,459.30,3894.85,812.80,18488.90,7862.90,685.80,802.05,3965.90,3297.80,747.85